.text-area, .text-area .viewport, .text-area .content {
    -fx-background-color: transparent;
    -fx-font-size: 22px;
    -fx-text-fill: white;
    -fx-font-family: "Lucida Grande";
}

.root {
    -fx-background-image: url("background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 960.0 600.0;
    -fx-background-position: center center;
}